<ul style="margin-top: 15px;">
    <div style="display: flex;">
        <button type="button" class="btn btn-danger" (click)="onDelete()" [disabled]="disableDelete">Delete</button>
        <pagination-controls class="hide-page-numbers" (pageChange)="pageChange($event)"></pagination-controls>
    </div>
    <div *ngFor="let item of users | paginate: config">
        <form novalidate #f="ngForm">
            <div class="form-group col-md-8 row">
                <label for="name" class="col-md-2" style="padding-top: 3px;">Name:</label>
                <input 
                    type="text" 
                    name="name"
                    class="form-control col-md-5"
                    [(ngModel)]="item.name"
                    #userName="ngModel"
                    required
                    minlength="3"
                >
                <div *ngIf="userName?.errors?.required && userName.touched" style="margin-left: 10px" class="alert alert-danger">
                    First Name is required
                </div>
                <div *ngIf="userName?.errors?.minlength && userName.touched" style="margin-left: 10px" class="alert alert-danger">
                    Must be at least 3 characters
                </div>
            </div>
            <div class="form-group col-md-8 row">
                <label for="surname" class="col-md-2" style="padding-top: 3px;">Surname:</label>
                <input 
                    type="text" 
                    name="surname"
                    class="form-control col-md-5"
                    [(ngModel)]="item.surname"
                    #lastName="ngModel"
                    required
                    minlength="3"
                >
                <div *ngIf="lastName?.errors?.required && lastName.touched" style="margin-left: 10px" class="alert alert-danger">
                    Surname is required
                </div>
                <div *ngIf="lastName?.errors?.minlength && lastName.touched" style="margin-left: 10px" class="alert alert-danger">
                    Must be at least 3 characters
                </div>
            </div>
            <div class="form-group col-md-8 row">
                <label for="company" class="col-md-2" style="padding-top: 3px;">Company:</label>
                <input 
                    type="text" 
                    name="nacompanyme"
                    class="form-control col-md-5"
                    [(ngModel)]="item.company"
                    #compAny="ngModel"
                    required
                    minlength="3"
                >
                <div *ngIf="compAny?.errors?.required && compAny.touched" style="margin-left: 10px" class="alert alert-danger">
                    Company is required
                </div>
                <div *ngIf="compAny?.errors?.minlength && compAny.touched" style="margin-left: 10px" class="alert alert-danger">
                    Must be at least 3 characters
                </div>
            </div>
            <div class="form-group col-md-8 row">
                <label for="jobtitle" class="col-md-2" style="padding-top: 3px;">Job Title:</label>
                <input 
                    type="text" 
                    name="jobtitle"
                    class="form-control col-md-5"
                    [(ngModel)]="item.jobtitle"
                    #jobTitle="ngModel"
                    required
                    minlength="3"
                >
                <div *ngIf="jobTitle?.errors?.required && jobTitle.touched" style="margin-left: 10px" class="alert alert-danger">
                    Job Title is required
                </div>
                <div *ngIf="jobTitle?.errors?.minlength && jobTitle.touched" style="margin-left: 10px" class="alert alert-danger">
                    Must be at least 3 characters
                </div>
            </div>
            <div class="form-group col-md-8 row">
                <label for="mobile" class="col-md-2" style="padding-top: 3px;">Mobile Phone:</label>
                <input 
                    type="text" 
                    name="mobile"
                    class="form-control col-md-5"
                    [(ngModel)]="item.mobile"
                    #mobilePhone="ngModel"
                    required
                    minlength="5"
                >
                <div *ngIf="mobilePhone?.errors?.required && mobilePhone.touched" style="margin-left: 10px" class="alert alert-danger">
                    Mobile Phone is required
                </div>
                <div *ngIf="mobilePhone?.errors?.minlength && mobilePhone.touched" style="margin-left: 10px" class="alert alert-danger">
                    Must be at least 5 characters
                </div>
            </div>
            <div class="form-group col-md-8 row">
                <label for="email" class="col-md-2" style="padding-top: 3px;">Email:</label>
                <input 
                    type="email" 
                    name="email"
                    class="form-control col-md-5"
                    [(ngModel)]="item.email"
                    #userEmail="ngModel"
                    required
                >
                <div *ngIf="userEmail?.errors?.required && mobilePhone.touched" style="margin-left: 10px" class="alert alert-danger">
                    Email is required
                </div>
            </div>
        </form>
    </div>
</ul>